SOAP_WS/SoapUI/Service_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CalcService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="Service.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="Service_2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="Service_1.xsd" namespace="http://schemas.datacontract.org/2004/07/"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalcService_Sum_InputMessage">
    <wsdl:part name="parameters" element="tns:Sum"/>
  </wsdl:message>
  <wsdl:message name="ICalcService_Sum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumResponse"/>
  </wsdl:message>
  <wsdl:message name="ICalcService_SumAndSub_InputMessage">
    <wsdl:part name="parameters" element="tns:SumAndSub"/>
  </wsdl:message>
  <wsdl:message name="ICalcService_SumAndSub_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumAndSubResponse"/>
  </wsdl:message>
  <wsdl:portType name="ICalcService">
    <wsdl:operation name="Sum">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/Sum" message="tns:ICalcService_Sum_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/SumResponse" message="tns:ICalcService_Sum_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SumAndSub">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/SumAndSub" message="tns:ICalcService_SumAndSub_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/SumAndSubResponse" message="tns:ICalcService_SumAndSub_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalcService" type="tns:ICalcService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://tempuri.org/ICalcService/Sum" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumAndSub">
      <soap:operation soapAction="http://tempuri.org/ICalcService/SumAndSub" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcService">
    <wsdl:port name="BasicHttpBinding_ICalcService" binding="tns:BasicHttpBinding_ICalcService">
      <soap:address location="http://localhost:61415/Service.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>