SOAP_WS/SoapUI/Service_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/">
  <xs:complexType name="SumSub">
    <xs:sequence>
      <xs:element minOccurs="0" name="Sub" type="xs:int"/>
      <xs:element minOccurs="0" name="Sum" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SumSub" nillable="true" type="tns:SumSub"/>
</xs:schema>